    <!--                                        شركاء النجاح                                       -->
<section class="brand text-center py-5">
    <div class="container">
        <h3>شركاء النجاح</h3>
        <div class=" row mt-5">
            <div class="col-md-3 col-sm-6">
                <img src="~/images/partner-logo-1.png" />
            </div>
            <div class="col-md-3 col-sm-6">

                <img src="~/images/partner-logo-2.png" />
            </div>
            <div class="col-md-3 col-sm-6">

                <img src="~/images/partner-logo-3.png" />
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="~/images/partner-logo-4.png" />
            </div>
        </div>
    </div>
</section>
<!-- ----------------------------------------------------------------------------------------------- -->
